/* =============== COMMON ============*/
@font-face {
    font-family: "OpenSans-Regular";
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
}
/* ===============ШРИФТ ДЛЯ РУБЛЯ============*/

@font-face {
    font-family: "rouble";
    src: url("/full_path/fonts/rouble.otf") format("opentype");
}
/* ==========================*/

body {
    font-family: "OpenSans-Regular";
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

/* ===============POPUP============*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.popup-wrapper {
    position: fixed;
    z-index:9999;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    z-index: 3;
    opacity: 0.8;
}

.popup {
    width: 320px;
    display: flex;
    z-index: 4;
    justify-content: flex-end;
    flex-direction: column;
    text-align: left;
    position: fixed;
}

.popup-form {
    background-color: #fff;
    padding: 50px 25px;
}

.popup-select {
    margin-top: 10px;
    width: 100%;
    background-color: #f5f7f6;
    border: none;
    padding: 16px 20px;
    vertical-align: middle;
    margin-bottom: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    background: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/svg/form-arrows.svg) no-repeat right 11px center;
    background-size: 9px;
}

.popup-select:focus {
    outline: none;
}

.popup-select option {
    width: 100%;
    padding: 10px;
    font-family: inherit;
}

.popup-radio {
    display: none;
}

.checkbox-text::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/svg/form-empty-circle.svg) no-repeat center center;
    background-size: 20px 20px;
    vertical-align: middle;
}

.popup-radio:checked + .checkbox-text::before{
    background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/svg/form-circle.svg);
}

#popup-input {
    font-family: inherit;
    vertical-align: top;
    padding: 16px 20px;
    margin-top: 10px;
    background-color: #f5f7f6;
    border: none;
    width: 100%;
    height: 120px;
    resize: none;
}

#popup-input:focus {
    outline: none;
}

.popup-text {
    text-align: left;
    font-size: 13px;
}

.checkbox-text {
    padding-right: 10px;
}
.popup-close {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
    margin-bottom: 7px;
}

.popup-close::before,
.popup-close::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 20px;
    top: 10px;
}

.popup-close::before {
    transform: rotate(45deg);
}

.popup-close::after {
    transform: rotate(-45deg);
}

.active {
    transition: all 0.3s ease;
    top: 0;
}

.side-button {
    display: block;
    width: 100%;
    padding: 6px 20px;
    font-size: 14px;
    color: white;
    line-height: 40px;
    text-transform: uppercase;
    background-color: #b59f5a;
    font-family: "OpenSans-Bold";
    border: none;
    margin-top: 16px;
}

/* ===============HEADER============*/

.header {
    position: relative;
    color: #ffffff;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30px 0;
    width: 100%;
}

.header::after {
    content: "";
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.logo-img {
    width: 15%;
}
/* ===============menu============*/

.menu-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-list-item {
    display: inline-block;
    vertical-align: middle;
}

.menu-link {
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    color: #ffffff;
}

.menu-link:hover {
    color: #b59f5b;
}

.title {
    text-align: center;
    font-family: 'OpenSans-Bold';
    text-transform: uppercase;
    line-height: 75px;
    font-size: 44px;
    color: #ffffff;
    padding: 100px 0;
    width: 67%;
    max-width: 800px;
    margin: auto;
}

/* ===============TREND============*/

.header ~ .info-title {
    /*полоска под названием*/
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
}

.trends {
    margin-top: 50px;
}

.trend {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
}

.trend-item {
    flex-basis: 25%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    padding: 85px 25px 15px;
    display: flex;
    align-items: flex-end;
}

.trend-item:nth-child(-n + 3) {
    margin-right: 4px;
}

.trend-item::before {
    content: "";
    display: block;
    position: absolute;
    background-color: black;
    opacity: 0.65;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.trend-item-content {
    border: 2px solid #b59f5a;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.garden {
    background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/trend1.jpg);
}

.trend-title {
    margin: 0;
}

.trend-title-link {
    text-decoration: none;
    font-family: 'OpenSans-Bold';
    font-size: 17px;
    line-height: 22px;
    text-transform: uppercase;
    color: #ffffff;
}

.trend-title-link:hover {
    color: #b59f5b;
}

.cheese {
    background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/trend2.jpg);
}

.mount {
    background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/trend3.jpg);
}

.vitamin {
    background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/trend4.jpg);
}

/* ===============MAIN============*/
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

.main {
    width: 78%;
}

.news {
    display: flex;
}

.news:not(:last-child) {
    margin-bottom: 56px;
}

.news-images {
    margin: 0;
    display: block;
    width: 380px;
    flex-shrink: 0;
}

.news-text {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    width: 100%;
}

.news-teg-list {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'OpenSans-Bold';
    color: #b59f5a;
    margin-bottom: 7px;
}

.news-teg-item {
    margin-right: 10px;
}
.news-tag-item:not(:first-child) {
    margin-right: 10px;
}
.news-teg-link {
    text-decoration: none;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
}

.news-teg-link:hover {
    color: #7a6b3c;
}

.news-title {
    font-family: 'OpenSans-Bold';
    margin-bottom: 29px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
}

.news-title-link {
    text-decoration: none;
    color: #0f0d0e;
}

.news-title-link:hover {
    color: #474747;
}

.news-date-author {
    display: flex;
    margin: 0;
    padding: 0;
}

.news-date {
    font-family: 'OpenSans-Regular';
    font-size: 12px;
}

.news-author {
    text-decoration: none;
    font-family: 'OpenSans-Bold';
    font-size: 12px;
    color: #000000;
    margin-left: 10px;
}

.news-author:hover {
    color: #474747;
}

.news-content {
    display: block;
    font-size: 15px;
    line-height: 22px;
    margin-top: 40px;
    font-weight: normal;
    color: #000000;
}

/* ===============ASIDE============*/

.side {
    display: block;
    width: 25%;
    margin-left: 120px;
}

.info-conteiner {
    display: block;
}

.info-title {
    font-family: 'OpenSans-Bold';
    position: relative;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.info-title::after {
    display: block;
    content: "";
    position: absolute;
    margin: 0 auto 7px;
    height: 3px;
    background-color: #b59f5a;
    opacity: 0.3;
    top: 27px;
    left: 0;
    right: 0;
    width: 60px;
}

.info-title-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-family: "OpenSans-Bold";
    color: #000000;
}

.info-title-link:hover {
    color: #474747;
}

.info-item {
    display: flex;
}

.info-item:not(:last-child) {
    margin-bottom: 21px;
}

.info-img {
    display: block;
    width: 70px;
}

.info-text {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
}

.info-date {
    display: block;
    margin-bottom: 8px;
    color: #888888;
    font-size: 12px;
    line-height: 8px;
}

.info-post-title {
    margin-top: 4px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.info-post-title:last-child {
    margin-bottom: 0;
}

.info-link {
    display: flex;
    text-decoration: none;
    font-family: 'OpenSans-Bold';
    text-transform: uppercase;
    color: #000000;
    font-size: 14px;
    line-height: 18px;
}

.info-link:hover {
    color: #474747;
}

.info-conteiner:not(:first-child) {
    margin-top: 55px;
}

.info-conteiner {
    display: block;
}

.search {
    margin-top: 58px;
    position: relative;
}

.search-title {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.search-form {
    box-sizing: border-box;
    width: 100%;
    background-color: #f5f7f6;
    border: none;
    padding: 16px 20px;
    vertical-align: middle;
}

.search-button {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
    background-size: 18px;
    background-color: #b59f5a;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    width: 48px;
    height: 48px;
    border: none;
    top: 0;
    right: 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: #7a6b3c;
}

.info-conteiner-title {
    font-family: 'OpenSans-Bold';
    position: relative;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.info-conteiner-title::after {
    display: block;
    content: "";
    position: absolute;
    margin: 0 auto 7px;
    height: 3px;
    background-color: #b59f5a;
    opacity: 0.3;
    top: 27px;
    left: 0;
    right: 0;
    width: 60px;
}

.mail-form {
    box-sizing: border-box;
    position: relative;
    background-color: #f5f7f6;
    border: none;
    width: 100%;
    padding: 16px 20px;
    vertical-align: middle;
}

.mail-button {
    display: block;
    width: 100%;
    padding: 6px 20px;
    font-size: 14px;
    color: white;
    line-height: 40px;
    text-transform: uppercase;
    background-color: #b59f5a;
    border: none;
    margin-top: 16px;
    cursor: pointer;
}

.mail-button:hover {
    background-color: #7a6b3c;
}

/*=================TEGS==================*/

.tegs-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.tegs-item:not(:last-child) {
    margin-right: 7px;
}

.tegs-item {
    list-style: none;
    display: block;
    text-transform: uppercase;
    border: 3px solid #f5f7f6;
    font-size: 12px;
    margin-top: 5px;
    font-family: 'OpenSans-Bold';
}

.tegs-link {
    display: block;
    padding: 5px 13px;
    text-decoration: none;
    color: #0f0d0e;
}

.tegs-link:hover {
    color: #7a6b3c;
}

/*=================THEME==================*/

.theme-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.theme-item {
    border-bottom: 2px solid #f5f7f6;
    padding-bottom: 19px;
    padding-top: 19px;
}

.theme-link {
    text-decoration: none;
    font-family: 'OpenSans-Bold';
    color: black;
}

.theme-link:hover {
    color: #7a6b3c;
}

.theme-number {
    vertical-align: super;
    margin-left: 4px;
    color: #b59f5a;
    font-size: 12px;
}

/*=================PRODUCT==================*/

.product {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 35px;
}

.containers {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;
}

.product-item {
    flex-basis: calc(33% - 20px);
    display: flex;
    flex-direction: column;
}

.product-img {
    margin-bottom: 25px;
    width: 100%;
    padding: 0 20px;
}

.product-content {
    margin-top: -45px;
    border: 2px solid #b59f5a;
    padding: 50px 20px 20px;
    flex-grow: 1;
}

.product-text {
    display: block;
    font-size: 15px;
    line-height: 22px;
    margin-top: 15px;
}

.product-span {
    color: #b59f5a;
    text-decoration: none;
}

.product-span:hover {
    color: #7a6b3c;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 25px;
    height: 45px;
}

.price {
    font-family: "rouble";
}

.old-price {
    font-size: 14px;
    text-decoration: line-through;
}

.new-price {
    font-size: 20px;
}

.old-price,
.new-price {
    font-family: 'OpenSans-Bold', sans-serif;
    text-rendering: geometricPrecision;
    display: block;
    line-height: 24px;
}

.product-button {
    font-family: 'OpenSans-Regular';
    padding: 12px 30px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    background-color: #b59f5a;
    border: none;
    height: 100%;
}

.product-button:hover {
    background-color: #7a6b3c;
}

/* =============== FOOTER============*/

.footer {
    width: 100%;
    text-align: center;
}
/*================ address ==============*/
.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 31px 15px;
    background-color: #f5f7f6;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

.footer-icon-item:not(:first-child) {
    margin-left: 32px;
}

.icon-link {
    display: block;
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-images {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.twitter {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}

.pinterest {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}

.facebook {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}

.instagram {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}

.tumblr {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.footer-copyright {
    font-size: 12px;
    font-family: 'OpenSans-Bold';
    display: block;
    text-decoration: none;
    color: #999999;
    margin: 73px 0 40px;
}

/*================ tablet ==============*/

@media (max-width: 993px) {
    .popup-close::before,
    .popup-close::after {
        height: 3px;
        width: 20px;
    }

    .header {
        padding-top: 45px;
        padding-bottom: 75px;
        background: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/banner-bg-tablet.jpg")
        no-repeat center center;
        background-size: auto;
        background-size: cover;
    }

    .title {
        font-size: 40px;
        margin-top: 100px;
        padding: 0;
        width: 92%;
        line-height: 55px;
    }

    .logo-img {
        width: 157px;
    }

    .trend {
        flex-wrap: wrap;
    }

    .trend-item:nth-child(-n + 3) {
        margin-right: 0;
    }

    .trend-item {
        flex-basis: calc(50% - 5px);
        flex-grow: 1;
    }

    .trend-item:nth-child(odd) {
        margin-right: 4px;
    }

    .trend-item:nth-child(-n + 2) {
        margin-bottom: 4px;
    }

    .news {
        width: 100%;
        flex-direction: column;
        padding-bottom: 20px;
        border-bottom: 3px solid #f5f7f6;
    }

    .news:not(:last-child) {
        margin-bottom: 35px;
    }

    .news-text {
        margin: 0;
        margin-top: 15px;
        width: 100%;
    }

    .news-images {
        width: 100%;
        margin-bottom: 12px;
    }

    .news-title {
        font-size: 16px;
        line-height: 20px;
        margin-top: 0px;
        margin-bottom: 21px;
    }

    .news-teg-list {
        margin-bottom: 12px;
    }

    .news-date-author {
        margin: 0 0 20px 0;
    }

    .news-content {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        padding-bottom: 20px;
    }

    .header_burger {
        margin-left: auto;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header_burger:before,
    .header_burger:after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        z-index: 3;
    }

    .header_burger:before {
        top: 0;
    }

    .header_burger:after {
        bottom: 0;
    }

    .header_burger span {
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        top: 9px;
        z-index: 3;
    }

    .menu {
        display: none;
    }

    .main {
        width: 55%;
    }

    .side {
        width: 40%;
        margin-left: 35px;
    }

    .containers {
        width: 100%;
        padding: 0 35px;
    }

    .product {
        flex-wrap: wrap;
    }

    .product-item {
        flex-basis: calc(50% - 10px);
    }

    .product-item:not(:last-child) {
        margin-bottom: 20px;
    }

    .icon-link {
        width: 25px;
        height: 25px;
        background-size: 25px;
    }

    .footer-icon:not(:last-child) {
        margin-right: 35px;
    }

}

/*================ MOBILE ==============*/
@media (max-width: 600px) {
    .header {
        height: 100vh;
        padding-top: 30px;
        background: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/banner-mobile.jpg")
        no-repeat center center;
    }

    .container {
        padding: 0 15px;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .title {
        width: 100%;
        font-size: 28px;
        padding: 0 10px;
        line-height: 36px;
        margin-top: 40px;
    }

    .logo-img {
        margin-top: 145px;
        width: 82%;
        margin-right: auto;
        margin-left: auto;
    }

    .trend {
        flex-wrap: wrap;
    }

    .trend-item {
        flex-basis: calc(100% - 5px);
        padding: 90px 15px 15px;
    }

    .trend-item-content {
        width: 100%;
    }

    .trend-item:not(:last-child) {
        margin-bottom: 4px;
    }

    .trend-item:nth-child(odd) {
        margin-right: 0;
    }

    .trend-title-link {
        font-size: 16px;
        line-height: 20px;
    }

    .content-wrapper {
        flex-direction: column;
    }

    .main {
        width: 100%;
    }

    .news {
        padding-bottom: 23px;
    }

    .news:not(:last-child) {
        margin-bottom: 35px;
    }

    .news-title {
        font-size: 16px;
        line-height: 20px;
    }

    .news-content {
        font-size: 14px;
        line-height: 20px;
    }

    .side {
        width: 100%;
        margin-left: 0;
    }

    .info-title {
        margin-top: 50px;
        font-size: 16px;
    }

    .product  {
        flex-direction: column;
    }
    .product-item {
        width: 100%;
        padding: 0;
    }
    .product-item:not(:last-child) {
        margin-bottom: 25px;
    }
    .product-item-content {
        margin-top: -60px;
    }

    .footer-copyright {
        margin: 45px auto;
    }
    .footer-icon:not(:last-child) {
        margin-right: 25px;
    }

    .content {
        flex-direction: column;
        padding-bottom: 0;
    }

}






